<h1>All Words</h1>

{{#each allWords}}
<a href="/word/{{_id}}">
<p>{{set}}</p>
</a>
<p>Mammal: {{mammal}}</p>
<p>Object: {{object}}</p>
<p>Verb: {{verb}}</p>
<p>Adjective: {{adjctive}}</p>
<p>Number: {{number}}</p>

{{/each}}