<h1>All Words</h1>

{{#each allWords}}
<a href="/word/{{_id}}">
<p>{{_id}}</p>
</a>

<p>Animal: {{animal}}</p>
<p>Thing: {{thing}}</p>
<p>Verb: {{verb}}</p>
<p>Adjective: {{adjective}}</p>
<p>Number: {{number}}</p>
{{/each}}

<a href="/word/new">
<button>Create New Word Set</button>
</a>