<h1>Edit Word Set</h1>
<form action="/word/edit/{{_id}}?_method=PUT" method="POST">
<input type="text" name="setWord" placeholder="Name this set of words" value="{{setWord}}"/>
<input type="text" name="animal" placeholder="Any mammal you can think of" value="{{animal}}"/>
<input type="text" name="thing" placeholder="Any object you can think of" value="{{thing}}"/>
<input type="text" name="verb" placeholder="Past tense verb" value="{{verb}}"/>
<input type="text" name="adjective" placeholder="Any adjective you can think of" value="{{adjective}}"/>
<input type="number" name="number" placeholder="Any number you can think of" value="{{number}}"/>
<input type="submit" value="Edit Set"/>
</form>