<h1>{{set}}</h1>
<a href="/word">
<button>All Sets</button>
</a>
<p>Mammal: {{mammal}}</p>
<p>Object: {{object}}</p>
<p>Verb: {{verb}}</p>
<p>Adjective: {{adjective}}</p>
<p>Number: {{number}}</p>

<form action="/word/{{_id}}?_method=DELETE" method="POST">
<input type="submit" value="Delete Word Set"/>
</form>