<h1>All Picture Sets</h1>

<a href="/picture/new">
<button>Create New Picture Set</button>
</a>
<div class="main-container">
{{#each allPictures}}
<a href="/picture/{{_id}}">{{set}}</a>
{{/each}}
<h2>Destination:</h2>
<div class="img-container">
<div class="polaroid">
{{#each allPictures}}
<img src="{{destination}}">
{{/each}}
</div>
</div>
<h2>Object:</h2>
<div class="img-container">
<div class="polaroid">
{{#each allPictures}}
<img src="{{object}}">
{{/each}}
</div>
</div>
<h2>Mammal:</h2>
<div class="img-container">
<div class="polaroid">
{{#each allPictures}}
<img src="{{mammal}}">
{{/each}}
</div>
</div>
{{#each allPictures}}
<p>Date Taken: {{dateTaken}}</p>
{{/each}}
</div>

<a href="/picture/new">
<button>Create New Picture Set</button>
</a>