<h1>{{set}}</h1>
<a href="/picture">
<button>All Picture Sets</button>
</a>

<div class="main-container">

<h2>Destination:</h2>
<div class="img-container">
<div class="polaroid">
<img src="{{destination}}">
</div>
</div>
<h2>Object:</h2>
<div class="img-container">
<div class="polaroid">
<img src="{{object}}">
</div>
</div>
<h2>Mammal:</h2>
<div class="img-container">
<div class="polaroid">
<img src="{{mammal}}">
</div>
</div>
<p>Date Taken: {{dateTaken}}</p>
</div>






<a href="/picture/edit/{{_id}}">
<button>Edit Picture Set</button>
</a>

<form action="/picture/{{id}}?_method=DELETE" method="POST">
<input type="submit" value="Delete Picture Set"/>
</form>