<h1>{{set}}</h1>
<a href="/picture">
<button>All Picture Sets</button>
</a>

<p>Destination: 
<img src="{{destination}}"/> 
</p>
<p>Mammal
 <img src="{{mammal}}"/>   
</p>
<p>Object:
<img src="{{object}}"/> 
</p>
<p>Date Taken: {{dateTaken}}</p>

<a href="/picture/edit/{{_id}}">
<button>Edit Picture Set</button>
</a>