
<div class="main-container">
<h1>Nature is Amazing!</h1>
<div class="img-container">
<div class="polaroid">
{{#each allPictures}}
<img src="{{destination}}">
{{/each}}
</div>
</div>
<p> I was in the nature pictured above, the other {{#each allPictures}}<strong>{{dateTaken}}</strong>
{{/each}}</p>
<p> I was blown away by how {{#each allWords}}<strong>{{adjective}}</strong>{{/each}} nature is.  
<p> The majestic {{#each allWords}}<strong>{{animal}}</strong>{{/each}}, pictured below,</p>
<div class="img-container">
<div class="polaroid">
{{#each allPictures}}
<img src="{{mammal}}">
{{/each}}
</div>
</div>
<p> {{#each allWords}}<strong>{{verb}}</strong>{{/each}} in it's natural habitat and I caught it on film!</p>
<h2>Amazing!</h2>
<p>I picked a bouquet of {{#each allWords}}<strong>{{thing}}</strong>{{/each}}s to give to my wife so she could also revel in the nature from home.</p>
<h2>Romantic!</h2>
<div class="bigger-container">
<div class="link-container">
<p>Regretting your choice of theme?</p>
<p>See how green the grass really is on the other side</p>
<a href="/output/murder">
<button>Murder Theme</button>
</a>
<a href="/output/breakfast">
<button>Breakfast Theme</button>
</a>
</div>
</div>
<form action="/output?_method=DELETE" method="POST">
<input type="submit" value="Re-start the NONSENSE"/>
</form>
</div>
