<h1>Nature is Amazing!</h1>
<div class="img-container">
<div class="polaroid">
{{#each allPictures}}
<img src="{{destination}}">
{{/each}}
</div>
</div>
<p> I was in the nature pictured above, the other {{#each allPictures}}<strong>{{dateTaken}}</strong>
{{/each}}</p>
<p> I was blown away by how {{#each allWords}}<strong>{{adjective}}</strong>{{/each}} nature is.  I saw a whole gaggle of {{#each allWords}}<strong>{{thing}}</strong>{{/each}}just running free in the wild.</p>
<p> The majestic {{#each allWords}}<strong>{{animal}}</strong>{{/each}} pictured below</p>
<div class="img-container">
<div class="polaroid">
{{#each allPictures}}
<img src="{{mammal}}">
{{/each}}
</div>
</div>
<p> {{#each allWords}}<strong>{{verb}}</strong>{{/each}} in it's natural habitat and I caught it on film!</p>
<h2>Amazing!</h2>
<p>I picked a bouquet of {{#each allWords}}<strong>{{thing}}</strong>{{/each}}s to give to my wife so she could also revel in the nature from home.</p>
<h2>I  heart romance and nature!</h2>

